.App {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}

.Login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #383838;
  padding: 20px;
  width: fit-content;
}

.Login-title {
  font-size: 1.5em;
}

.Login-label{
  padding-right: 10px;
}

