.Members-body{
    height: 100%;
}

.Menu-sidebar{
    float: left;
    background: #aaaaaa;
    width: 20%;
    height: 100%;
}

.Main-container{
    background: #aaaa00;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}